*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --fancy-gradient: linear-gradient(to bottom, #884ced, #ff70ff)
  }

header{
    height: 200px;
    background: var(--fancy-gradient);
    display: flex;
    justify-content: center;
}

.logo{
    display: inline-block;
    width: 200px;
    transform: translateY(10px) rotate(-7deg);
    filter: drop-shadow(5px 5px 5px #0008);
    z-index: 1;
    transition: transform 0.5s ease;
}

header:hover .logo{
    transform: translateY(210px) rotate(-7deg);
}

.title{
    width: 600px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: 800;
    text-shadow: 5px 5px 5px #0008;
    font-size: 5rem;
    padding: 5px;
    line-height: 80%;
    transform: translate(10px);
    transition: transform 0.5s ease;
}

header:hover .text{
    transform: translate(-100px, -55px) scale(1.5);
}



.proyects{
    width: 90%;
    margin: 0 auto;
    margin-top: 3vw;
    border-radius: 20px;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1vw;
    row-gap: 3vw;
    background-color: rgb(184, 255, 255);
}

.card img{
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    min-height: 30vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.enlaces{
    display: flex;
    justify-content: space-between;
}

.enlaces .btn{
    width: 40%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn-ok {
    background-color: #28a745; /* Verde */
    color: white; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    font-family: Arial, sans-serif; /* Fuente clara y legible */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.btn-ok:hover {
    background-color: #218838; /* Color más oscuro al pasar el ratón */
}

.btn-cancel {
    background-color: #fc2e2e; /* Rojo */
    color: white; /* Texto blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    font-family: Arial, sans-serif; /* Fuente clara y legible */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.btn-cancel:hover {
    background-color: #ff0000; /* Color más oscuro al pasar el ratón */
}